doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Component
    style(type="text/css").
      .state-map {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      }
      .state-map__cell {
        position: relative;
      }

      .state-map__cell img { max-width: 100%; display: block;}

      .state-map__cell::before {
        display: block;
        content: attr(data-variation);
        font-size: 0.6rem;
        min-height: 20px;
        box-sizing: border-box;
        padding: 2px;
      }

      .state-map__cell[data-in-state='false'] {
        outline: 1px solid red;
        outline-offset: -1px;
      }
  body
    .state-map
      for stat in stats
        .state-map__cell(data-variation=`${stat.variation}` data-in-state=`${stat.inState}`)
          img(src=`${stat.path}`)
